*
{
  margin: 0px;
  padding: 0px;
}


#header
{
  
  width: 100%;
  height: 100px;
  background-color: blue; 
  text-align: center;
 }

#body
{
	min-width: 1000px;
  max-width: 

  margin: auto;
  /*margin-top: 20px;*/
  background-color: pink;   
  margin-left:auto;  
  margin-right:auto;  
  background-position: auto;
   	
 }



#tateti td
{
    	border: thin solid black;
    	font-size: 300%;
    	height: 1em;
    	padding: 1em;
    	width: 1em;
}
    


#footer 
{     
      /*margin-top: 20px;*/
      width: 100%;
      height: 100px;
      background-color: blue;
      text-align: left;
      color: white;
}
