#header
{
	background-color: green;
	width: 100%;
  height: 100px;
	overflow: auto;
}

#body {
	background-color: yellow;
	width: 100%;
	overflow: auto;
}

#body > p {
  color: blue;
}

#footer {
	background-color: red;
	width: 100%; height: 100px;
	overflow: auto;
	color: white;
	text-align: left;
}

