	#cabe {
	background: #2003FD;
	color: white;
	height: 50px;
	width: 900px; 
	/*left: 0;*/
	top: 0;
	/*position: fixed;*/
	font-family: Arial;
}
 
	
body {
	/*margin: 0;
	padding: 0;*/
	/*font-family: kristen itc;*/
	color: #53515F;
	font-size: 1em;
	/*line-height: 1.2em;
	padding-top: 50px;*/
	/*background: yellow;*/
}

#capa{
	width: 167px;
	border: 2px solid red;
}

.b{
	width: 50px; 
	height:50px;
}

/*#tablero td{
    	border: thin solid black;
    	font-size: 150%;
    	padding: 1em;
    	width: 1em;
}*/


#pie {
	background: #2003FD;
	color: white;
	text-align: left;
	font-family: times new roman;
	/*padding: 15px;*/
	height: 100px;
	width:900px;
	}
	
	
