	#cabe {
	background: #2003FD;
	color: white;
	height: 50px;
	width: 100%; 
	left: 0;
	top: 0;
	/*position: fixed; */
	font-family: kristen itc;
}
 
	/*#contenido {
	background: yellow;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	margin-top: 50px;
}
 
	#contenido .content {
		padding: 30px;
	}*/
 
body {/*
	margin: 0;
	padding: 0;
	font-family: Calibri;
	color: #483D8B;
	font-size: 1em;

	padding-top: 50px;
	background: yellow;
*/}
 
h1 {
	font-size: 2.8em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	
	}
 
img {
	max-width: 100%;
	height: auto;
}

#pie {
	background: #FF0000;
	color: white;
	text-align: left;
	
	height: 100px;
	width: 100%; 
	left: 0;
	top: 0;
	}



.mi_clase
{
  font-weight: bold;
  color: blue;

}

.mi_tabla
{
  width: 400px;
  border: 2px solid green;
  padding: 1px;
}
