body {
	width: 1000px;
	margin: auto;

}


#header {
	background-color: blue;
        height: auto;
	overflow: auto;
	text-align: center;
	color: white;
}

#footer {
	background-color: blue;
	width: 100%; height: 100px;
	overflow: auto;
	color: white;
	text-align: left;
}

.tateti{
	width: 150px;
	height: 150px;
	text-align: center;
}
