#global {
	width:900px;
}


#header{
	background-color: blue;
	width: 100%;
	height: 50px;
	left: 0;
	top: 0;
	color: white
	
}

#body {
	background-color: white;
	width: 100%;
	overflow: auto;
}


div{
  margin: .4em 0;
}

div label.right{
  width: 25%;
  align: right;
}


div input.left{
  width: 25%; 
}


#footer {
	background-color: blue;
	width: 100%; 
	height: 100px;
	left: 0;
	top: 0;
	color: white;
	text-align: left;
}

