	#cabe {
	background: #2003FD;
	color: white;
	height: 50px;
	width: 900px; 
	/*left: 0;*/
	top: 0;
	/*position: fixed;*/
	font-family: Arial;
}
 
	
body {
	/*margin: 0;
	padding: 0;*/
	/*font-family: kristen itc;*/
	color: #53515F;
	font-size: 1em;
	/*line-height: 1.2em;
	padding-top: 50px;*/
	/*background: yellow;*/
}

#tablero td{
    	border: 2px dashed darkblue;
    	/*font-size: 150%;*/
    	//padding: 1em;
    	width: 1em;
		height: 75px;
		width: 75px;
		text-align: center;
		font-size: 3.5em;
}

#cuerpo{
	width: 900px;
	/*text-align: center-right;*/
}
 

#pie {
	background: #2003FD;
	color: white;
	text-align: left;
	font-family: times new roman;
	/*padding: 15px;*/
	height: 100px;
	width:900px;

	}
	
	
