body {
	width: 900px;
	margin: auto;

}

#formulario{


}

#header {
	background-color: blue;
        height: 50px;
	overflow: auto;
	text-align: center;
	color: white;
}

#footer {
	background-color: blue;
	width: 100%; height: 100px;
	overflow: auto;
	color: white;
	text-align: left;
}

.titulo_formulario
{
  text-align: right;
  width: 200px;
}
