#header
{
	background-color: green;
	width: 100%;
        height: 100px;
	overflow: auto;
}

#body {
	width: 100%;
	overflow: auto;
}


#footer {
	background-color: red;
	width: 100%; height: 100px;
	overflow: auto;
	color: white;
	text-align: left;
}

#cambio{
       border: 1px solid black;
}
