#header{
	background-color: green;
	width: 100%;
	height: 100px;
	overflow: auto;
	left: 0;
	top: 0;
	
}

#body {
	background-color: white;
	width: 100%;
	overflow: auto;
}

#body > p {
  color: blue;
  }
  
#table1 {
	font: bold 100% monospace; 
}

#table {
	font: bold 100% monospace; 
}


#footer {
	background-color: red;
	width: 100%; 
	height: 100px;
	overflow: auto;
	left: 0;
	top: 0;
	color: white;
	text-align: left;
}

